/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #010A14;
    --tron-blue: #C1EFFB; // or any global you wish to share with components 
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron.ttf');
    display: swap;
}

@font-face {
    font-family: 'BitstreamVeraMono';
    src: url('./assets/fonts/BitstreamVeraMono.ttf');
    display: swap;
}

* {
    font-family: 'Orbitron';
    box-sizing: border-box;
    border: 0 solid;
}

html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}


// html,
// body,
// body>div:first-child,
// div#__next,
// div#__next>div {
//     height: 100%;
//     overflow: auto;
// }